/* * {
    background-color: cyan;
} */

body {
    background-color: #f1faee;
}

button {
    font-size: 30px;
    background-color: #a8dadc;
}

h1,h2 {
    color: #1d3557;
}

/* Id selector  */
#signup{ 
    background-color: #1d3557;
    color: #f1faee;
}


span {
    color: #457b9d;
}

/* Class Selector */
.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}

.post a {
    color: #457b9d;
    font-weight: 900;
    text-decoration: none;
}
/* Descendent Selector   Select selctor which are nested
inside the first tag name  */
footer a {
    color: #e63946;
}
/* Adjacent Selectors  : Slect only the paragraph that
are immediately preceded by an <h2> in this
In this case every only the first button after h2 , font size
will be changed to 20px and color will be changed */

/* 
Adjacent Sibling Selector (+)
The adjacent sibling selector is used to select an element that is directly after another specific element.

Sibling elements must have the same parent element, and "adjacent" means "immediately following".

The following example selects the first <p> element that are placed immediately after <div> elements: */
h2 + button {
    font-size: 20px;
    color: tomato;
}

/* Child Selector (>)
The child selector selects all elements that are the children of a specified element. */
/* But not work on neseted child */
footer > a {
    color: #457b9d;
}


/* General Sibling Selector (~)
The general sibling selector selects all elements that are siblings of a specified element.

The following example selects all <p> elements that are siblings of <div> elements: 

Example
div ~ p {
  background-color: yellow;
} 
-----------------------------*/


/* Attribute Selector
Select all input elements where the type attribute 
set to "text" */
input[type="password"] {
    color: greenyellow;
}

a[href*="google"]{
    color: #1d3557;
}

/* Below down are Pseudo Classes
Keyword added to a selector that specifies a special of the 
selected elemnts. */
.post a:hover {
    text-decoration: underline;
}

/* Avtive is when it clicked in case of a button */
.post button:active {
    background-color: #02c39a;
}
/* Select one in a group of siblings
here every second number(even) are slected */
.post:nth-of-type(2n){
    background-color: #dfe8dc;
}

/* Down here we have PSEUDO CLASSES 
Kewyword added to a selector that specifies a special state of the 
sleceted element  */
/* Here select on perticular part of a selected element  */
h2::first-letter {
    font-size: 50px;
}

p::first-line {
    color: purple;
}
/* We we select using mouse right click drag  */
/* Here in right click selection of paragraph 
the color of selection will be chaged to color given */
p::selection {
    background-color: #fcbf49;
}

.post button:hover {
    background-color: #e63946;
    color: #f1faee;
}

button:hover {
    background-color: olive;
}

button {
    background-color: yellow !important;
}