h2 {
    color: #5FCFFC;
    background-color: rgb(89, 151, 0);
}

button {
    color: magenta; 
    /* color is for text color */
    background-color: cyan;
    /* background-color is for background */
}

p {
    color: olive;
    background: rgb(228, 161, 37);
}

body {
    background: #c5e;
}



